<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitor Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
    <style>
        .active {
            background-color: #122a66;
            color: white;
        }
    </style>
</head>
<body>
    <div class="bg-gray-100">
        {% if request.path != '/' and request.path != '/register' %}
            <header class="h-[7dvh] shadow">
                <div class="flex items-center justify-between mx-auto w-full py-1 {% if session.get('user_role') == 'user' %} max-w-7xl{% else %} px-10 {% endif %}">
                    <div class="flex gap-x-5 items-center">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="school logo" class="w-14">
                        <h1 class="font-Inter text-lg font-medium tracking-wide">VMS</h1>
                    </div>
                    <nav>
                        <ul class="flex gap-x-7 font-Inter text-lg">
                            {% if session.get('user_role') == 'user' %}
                                <li>
                                    <a class="px-3 py-1 rounded hover:bg-primary hover:text-white {% if request.path == url_for('home') %}active{% endif %}" href="{{ url_for('home') }}">Home</a>
                                </li>
                                <li>
                                    <a class="px-3 py-1 rounded hover:bg-primary hover:text-white {% if request.path == url_for('history') %}active{% endif %}" href="{{ url_for('history') }}">History</a>
                                </li>
                                <li>
                                    <a class="px-3 py-1 rounded hover:bg-primary hover:text-white {% if request.path == url_for('checkin') %}active{% endif %}" href="{{ url_for('checkin') }}">Check In</a>
                                </li>
                            {% endif %}
                            <li class="ml-7">
                                <a class="px-3 py-1 rounded bg-red-500 text-white hover:bg-red-700" href="{{ url_for('logout') }}">Sign Out</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        {% endif %}
        <div class="flex">
            {% if session.get('user_role') == 'admin' %}
                <div class="w-1/6 h-[93dvh] bg-white border-t shadow pt-10">
                    <ul class="font-Inter">
                        <li>
                            <a href="{{ url_for('admin') }}" class="flex items-center gap-x-2 text-xl border pl-8 py-2 font-medium {% if request.path == url_for('admin') %}bg-primary text-white{% endif %}">
                                <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="{% if request.path == url_for('admin') %}#ffffff{% else %}#000000{% endif %}"><path d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z"/></svg>
                                <span>History Logs</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('notifications') }}" class="flex items-center gap-x-2 text-xl border pl-8 py-2 font-medium {% if request.path == url_for('notifications') %}bg-primary text-white{% endif %}">
                                <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="{% if request.path == url_for('notifications') %}#ffffff{% else %}#000000{% endif %}"><path d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z"/></svg>
                                <span>Notifications</span>
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
            {% block content  %}
            {% endblock %}
        </div>
    </div>
    {% block script %}
    {% endblock %}
</body>
</html>