{% extends './Base.html' %}

{% block content %}
    <div class="h-[93dvh] w-5/6 flex flex-col items-center font-Inter p-20 space-y-10">
        <div class="grid grid-cols-3 gap-5 w-full">
            <div class="h-fit bg-white rounded-md shadow p-6 flex flex-col justify-center gap-y-4">
                <h1 class="font-bold text-3xl font-sans">{{ allLogs|length|format }}</h1>
                <p class="text-gray-500 text-xl">Total Visits</p>
            </div>
            <div class="h-fit bg-white rounded-md shadow p-6 flex flex-col justify-center gap-y-4">
                <h1 class="font-bold text-3xl font-sans">{{ logs|length|format }}</h1>
                <p class="text-gray-500 text-xl">Todays Visits</p>
            </div>
            <div class="h-fit bg-white rounded-md shadow p-6 flex flex-col justify-center gap-y-4">
                <h1 class="font-bold text-3xl font-sans">{{ users|length|format }}</h1>
                <p class="text-gray-500 text-xl">Total Users</p>
            </div>
        </div>
        <div class="w-full h-3/4 p-5 space-y-5 bg-white rounded-md shadow overflow-y-auto">
            <h1 class="font-medium text-xl uppercase text-center">Todays Visit</h1>
            <table class="w-full ">
                <thead>
                    <tr>
                        <th class="border py-1 w-2/12">Name</th>
                        <th class="border py-1 w-1/12">Gender</th>
                        <th class="border py-1 w-1/12">Age</th>
                        <th class="border py-1 w-2/12">Contact</th>
                        <th class="border py-1 w-2/12">Purpose</th>
                        <th class="border py-1 w-2/12">Visited Student</th>
                        <th class="border py-1 w-1/12">Checked-in</th>
                        <th class="border py-1 w-1/12">Checked-out</th>
                    </tr>
                </thead>
                <tbody>
                    {% if logs %}
                        {% for log in logs %}
                            <tr>
                                <td class="border text-center py-1">{{ log.name }}</td>
                                <td class="border text-center py-1">{{ log.gender }}</td>
                                <td class="border text-center py-1">{{ log.age }}</td>
                                <td class="border text-center py-1">{{ log.contact }}</td>
                                <td class="border text-center py-1">{{ log.purpose }}</td>
                                <td class="border text-center py-1">{{ log.toMeet }}</td>
                                <td class="border text-center py-1">{{ log.checkIn | format_datetime }}</td>
                                <td class="border text-center py-1">{{ log.checkOut | format_datetime }}</td>
                            
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="8" class="text-center border py-1">No visits today</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}